.App {
    text-align: center;
  }
  
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: beige;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  justify-content: flex-end; 
  padding-bottom: 50px; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f4f4f4;
  overflow-y: scroll;
  transition: transform 0.3s ease-in-out;
}

/* Your CSS file */
.custom-checkbox {
  position: relative;
  display: inline-block;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Style for the unchecked state */
.custom-checkbox::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;  /* To make it circular */
  border: 1px solid gray;
  margin-right: 8px;
  vertical-align: middle;
  background-color: blue;  /* Assuming you want a white background for unchecked state */
}

/* Style for the checked state */
.custom-checkbox input[type="checkbox"]:checked + span::before {
  background-color: blue;
  border: none;
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap; /* allows the items to wrap to the next line if there's not enough space */
  align-items: center; /* vertically aligns items in the center */
  justify-content: flex-start; /* horizontally align items from the start */
}
  