.App {
    text-align: center;
  }
  
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: beige;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  justify-content: flex-end; 
  padding-bottom: 50px; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f4f4f4;
  overflow-y: scroll;
  transition: transform 0.3s ease-in-out;
}

.drawerClosed {
  transform: translateX(-100%);
}

.drawerOpen {
  transform: translateX(0);
}

.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid blue;
  border-radius: 10px; /* to make it rounded */
  cursor: pointer;
  position: relative;
  margin-right: 5px;
}

.custom-checkbox.checked {
  background-color: blue;
}

/* Hide the default checkbox */
.hidden-checkbox {
  display: none;
}

  